
.pokemon
{
    width: calc(30.33% - 20px); 
    height: 200px;
    margin: 10px;
    padding: 20px;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* font-style: ; */
    text-decoration: none;
}

[alt="pokemonimage"]
{
height: 150px;
width: 150px;
display: block;
}

h1 > div >  Link{
    
    text-align: center;
}